[submodule "dio/ifood-game-dev/game-dev-principles/open-source"]
	path = dio/ifood-game-dev/game-dev-principles/open-source
	url = https://github.com/siddigo/dio-lab-open-source
[submodule "dio/aws/linux/iac"]
	path = dio/aws/linux/iac
	url = https://github.com/siddigo/DIO-AWS-PROJETO1
[submodule "senai/system-develop/kanban"]
	path = senai/system-develop/kanban
	url = https://github.com/siddigo/gerenciamento_tarefas
[submodule "senai/system-testing/webpage"]
	path = senai/system-testing/webpage
	url = https://github.com/siddigo/sa4-teste
